#notification-error>div.Toastify__toast-body {
    font-weight: 500;
    color: #ed1919 !important;
}

#notification-warn>div.Toastify__toast-body {
    font-weight: 500;
    color: #fbcf00 !important;
}

#notification-info>div.Toastify__toast-body {
    font-weight: 500;
    color: #fff !important;
}

#notification-success>div.Toastify__toast-body {
    font-weight: 500;
    color: #0dce0d !important;
}