@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "OjahDisplay";
  src: url("/fonts/OjahDisplay-Black.otf") format("woff2"),
    url("/fonts/OjahDisplay-Black.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OjahDisplayBold";
  src: url("/fonts/OjahDisplay-Bold.otf") format("woff2"),
    url("/fonts/OjahDisplay-Bold.otf") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "OjahDisplaySemiBold";
  src: url("/fonts/OjahDisplay-SemiBold.otf") format("woff2"),
    url("/fonts/OjahDisplay-SemiBold.otf") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
@keyframes dropdown-enter {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-dropdown {
  animation: dropdown-enter 0.3s ease-in-out forwards; /* For entering */
}

.dropdown-leave {
  animation: dropdown-leave 0.3s ease-in-out forwards; /* For leaving */
}
