@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OjahDisplay';
  src: url('/fonts/OjahDisplay-Black.otf') format('woff2'),
    url('/fonts/OjahDisplay-Black.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OjahDisplayBold';
  src: url('/fonts/OjahDisplay-Bold.otf') format('woff2'),
    url('/fonts/OjahDisplay-Bold.otf') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'OjahDisplaySemiBold';
  src: url('/fonts/OjahDisplay-SemiBold.otf') format('woff2'),
    url('/fonts/OjahDisplay-SemiBold.otf') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'OjahDisplay', sans-serif;
}